/*------------DRAGON MICRO SITE----------*/

/*----color scheme:
 


 Color Theme Swatches in Hex 
.spaceX-1-hex { color: #151926; }
.spaceX-2-hex { color: #212B40; }
.spaceX-3-hex { color: #F2C12E; }
.spaceX-4-hex { color: #C5C2B7; }
.spaceX-5-hex { color: #665462; }
SPACEX LOGO BLUE: #005288

 Color Theme Swatches in RGBA 
.spaceX-1-rgba { color: rgba(21, 25, 38, 1); }
.spaceX-2-rgba { color: rgba(33, 43, 64, 1); }
.spaceX-3-rgba { color: rgba(242, 193, 46, 1); }
.spaceX-4-rgba { color: rgba(197, 194, 183, 1); }
.spaceX-5-rgba { color: rgba(102, 84, 98, 1); }

 Color Theme Swatches in HSLA 
.spaceX-1-hsla { color: hsla(225, 28, 11, 1); }
.spaceX-2-hsla { color: hsla(220, 31, 19, 1); }
.spaceX-3-hsla { color: hsla(45, 88, 56, 1); }
.spaceX-4-hsla { color: hsla(47, 10, 74, 1); }
.spaceX-5-hsla { color: hsla(313, 9, 36, 1); } /*

 1.dark navy 2. navy 3. bright yellow 4.french gray 5.dusk purple

/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*---------Utility Styles-----------*/
.container {
    width:90vw;
    margin:30px auto;
    max-width:900px;
}
/*img{
    max-width:100%;
    height:auto;
}*/

/*-------------global styles---------*/
body{
    font-family:"Poppins", sans-serif;
    color:#fff;
    margin:0;
    line-height:1.25;
     background: rgb(21,25,38);
background: linear-gradient(rgba(21,25,38,1) 0%, rgba(33,43,64,1) 39%, rgba(0,82,136,1) 100%);

}
h2, h3, h4, h5, h6,summary{
    font-family:"Space Grotesk";
    color:#f2c12e;
    
}

 /* unvisited link */
a:link {
  color: #f2c12e;
}

/* visited link */
a:visited {
  color: #c27a00;
}

/* mouse over link */
a:hover {
  color: #005288;
}

/* selected link */
a:active {
  color: #005288;
} 

/*----------------------------*/

header.primary:before {
    content: "";
    background-image: url("../img/spacex-launch-horizon.jpg");
    background-size:cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    
}
header.primary {
  position: relative;  
  background-color: #181c1f;
  text-align: center;
  font-size:2em;
  color: #ffffff;
  padding: 8em 2em;
  text-decoration:none;
}
h1{
     font-family:"Space Grotesk";
    color:#f2c12e;
    padding-top:1em;
    padding-bottom:1em;
    padding-left:0;
    padding-right:0;
}
header.primary h1{
position:relative;
background-image:url("../img/spacex-logo-light-version.png");
background-size:contain;
background-repeat:no-repeat;
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
padding-top:5px;
padding-bottom:5px;
}
nav.primary ul {
display:flex;
flex-direction:row;
justify-content:space-around;
padding:0;
background-color:#212B40;
}

nav.primary ul li, nav.primary a:link{
    list-style-type:none;
    text-decoration:none;
    font-size:1.25em;
    color:#f2c12e;
    padding:1em 1em ;
    
}
#tiles {
border-bottom:1px solid #c0c0c0;
padding-bottom:2.6rem;
}
/* article.element{
  width:30%;
  box-shadow: 0 4px 8px rgba(0,0,0,.4);
  padding:.7em;
  transition:.5s;
  border-radius:10px;
  font-size:.9rem;
}*/



gallery{
 overflow:hidden  ; 
 height:800px;
}
div.gallery{
    height:700px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 0.5rem;
  text-align: left;
  border: 3px solid #151926;
}
tbody tr:nth-child(odd) {
  background: #151926;}
  
  
#colophon{
    background-color:#151926;
    /*display:flex;
    flex-direction:row;
    justify-content:space-around;
   }*/
}



#colophon {
display:flex;
flex-direction:row;
justify-content:space-around;
border-bottom:5px solid #fff;

}

div.element {
    padding:1em;
    margin:.5em;
}